.bg{
	background-image: url("backg.jpg");

  /* Full height */
  height: 70%;

  /* Center and scale the image nicely */
  background-position: 460px 50px;

  background-repeat: no-repeat;

}

.adbg{
	background-image: url("bg1.jpg");
  background-position: 430px 100px;


  background-repeat: no-repeat;
  
}


















